#title {
    padding: 10px;
    color: #464646;
}
body {
    background: burlywood;
}
table {
    width: 100%;
    text-align: center;
}
th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

#error {
    color: red;
}