{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block heading %}
<center> Login - Paws Rescue Center 🐾</center>
{% endblock %}

{% block content %}

{% if message %}
<b>{{message}}</b>
{% endif %}

{% if form %}
<form action="{{url_for('login')}}" method="POST" style="padding: 5px;">
    <!-- Email Field -->
    {{form.email.label}}: <br>
    {{form.email}}
    <br>
    {% if form.email.errors %}
    {% for error in form.email.errors %}
    <b style="color: tomato;">{{error}}</b>
    <br>
    {%endfor%}
    {%endif%}

    <!-- Password Field -->
    {{form.password.label}}: <br>
    {{form.password}}
    <br>
    {% if form.password.errors %}
    {% for error in form.password.errors %}
    <b style="color: tomato;">{{error}}</b>
    <br>
    {% endfor %}
    {% endif %}

    <!-- Cross site Request Forgery -->
    {{ form.csrf_token }}
    <br>
    <!-- Submit Button -->
    {{form.login}}
</form>
{% endif %}
<hr>
{% endblock %}